<h3>以下の内容で、送信する。</h3>

<%= form_with(model: @photo, url: photos_path, local: true) do |form| %>
  <%= form.hidden_field :content %>

  <p>コメント:<%= @photo.content %></p>
  <%= form.submit  "登録する" %>
<% end %>

<%= form_with(model: @photo, url: new_photo_path, local: true, method: 'get') do |form| %>
  <%= form.hidden_field :content %>
  <%= form.submit "戻る",name:'back' %>
<% end %>
