<h3>確認画面</h3>
<%= form_with(model: @photo, url: photos_path, local: true) do |form| %>
<%= image_tag(@photo.image.url) if @photo.image && @photo.image.url %>
   <%= @photo.content %>
 <%= form.hidden_field :image_cache %>
 <%= form.hidden_field :content %><br>

  <%= form.submit  "登録する" %>
<% end %>

<%= form_with(model: @photo, url: new_photo_path, local: true, method: 'get') do |form| %>
  <%= form.hidden_field :image_cache %>
  <%= form.hidden_field :content %>
  <%= form.submit "戻る",name:'back' %>
<% end %>
