<p>
   <strong>写真:</strong>
   <%= image_tag @photo.image.url %>
</p>

<p>
   <strong>コンテンツ:</strong>
   <%= @photo.content %>
</p>
<br>

<% unless @photo.user_id == current_user.id %>
   <% if @favorite.present? %>
     <%= link_to 'お気に入り解除する', favorite_path(id: @favorite.id), method: :delete, class: 'btn btn-danger' %>
   <% else %>
     <%= link_to 'お気に入りする', favorites_path(photo_id: @photo.id), method: :post, class: 'btn btn-primary' %>
   <% end %>
<% end %>

<% if current_user.id == @photo.user_id %>
  <%= link_to 'Edit', edit_photo_path(@photo) %> |
<% end %>
  <p><%= link_to '投稿一覧に戻る', photos_path %></p>
